body {
    text-align: center;
    background-color: rgb(35, 38, 46);
}

#page {
    text-align: left;
    margin: 0 auto;
    width: 900px;
    height: 1300px;
}

#header{
    background-color: lightskyblue;
    border-bottom: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    width: 100%;
}

#footer {
    clear: both;
    background-color: lightskyblue;
    border-top: 2px solid black;
    text-align: right;
    width: 100%;
}

#navi {
    float: left;
    width: 20%;
    height: 100%;
    background-color: thistle;
}

#content {
    margin-left: 20%;
    width: 79%;
    height: 100%;
    background-color: lightblue;
    padding-left: 1%;

}